/* BODY */

@font-face {
	font-family: 'BEBAS'; src: url('BEBAS_sumniki.ttf');}

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
	font-family: BEBAS, sans-serif; font-size: 62.5%; letter-spacing: 0.05em; word-spacing: 0.25em;
	min-height: 100%; min-width: 100%; overflow-y: scroll; overflow: -moz-scrollbars-vertical; padding: 0; margin: 0 auto;
	background: url('background1.jpg') no-repeat fixed center center; background-size: 100% 100%;}

/* HEADER */

#header {
	background-color: rgba(255,255,255,0.7);
	height: 5em; padding: 0.2em;}

#header h1 {
	color: black; font-weight: bold; font-size: 3em; text-align: center;
	margin: 0;}

/* FILTERS */

#filters {
	padding: 0; margin: 0.5em 0 0 1em;
	position: relative; float: left; z-index: 10;}

#categories {
	padding: 0;
	position: absolute;}

#categories h1 {
	background-color: black; color: white;
	width: 98%; padding: 0.2em 0.3em; margin: 0 0 0.2em 0;}

#categories-list {
	width: 20em; padding: 0; margin: 0;
	list-style-type: none; position: relative;}

.category {
	padding: 0.2em 0.5em; margin: 0.2em 0;
	background: url('gumb.png') no-repeat center center; background-size: 100% 100%;}

.borderHoover {
	padding: 0.2em 0.5em margin: 0.2em 0;
	background: url('gumb2.png') no-repeat center center; background-size: 100% 100%;}

h2 {
	font-weight: normal;
	margin: 0;
	cursor: pointer;}

#clearSelection {
	color: white; background-color: black;
	width: 98%; padding: 0.2em 0.5em; margin: 1em 0;}

#clearSelection:hover {
	border-width: 0.1em 0.2em 0.2em 0.1em; border-style: solid; border-color: white;}

.menu {
	background-color: rgba(255,255,255,0.95);
	height: 37.7em; width: 32em; padding: 0.3em; display: none;
	position: absolute; top: 0; left: 20em;}

#zelenjava .menu {
	width: 62em;}

.column {
	vertical-align: top;
	width: 15em; margin: 0 0 1em 0; display: inline-block;}

.column h3 {
	font-weight: normal;
	width: auto; padding: 0.2em 0.5em; margin: 0;
	cursor: pointer;}

.subcategories{
	padding: 0; margin: 0;
	list-style-type: none;}

.subcategories li {
	padding: 0.1em 0.5em;
	cursor: pointer;}

.selection {
	width: 20em}

.item {
	color: white; background-color: deeppink; vertical-align: middle;
	padding: 0.3em 0.5em; margin: 0.3em; display: inline-block;}
	
.item h4 {
	font-weight: normal;
	margin: 0; display: inline-block;}
	
.close {
	padding: 0 0 0 0.5em; display: inline-block;
	cursor: pointer;}
	
/* MAP */

#map {
	background-color: rgba(255,255,255,0.9); 
	height: 40em; width: 80em; border: medium solid black; margin: 0.5em; display: inline-block;
	position: absolute; z-index: 1; top: 4em; left: 18em;}

.international{
	color: #383838; font-family: BEBAS, sans-serif; font-size: 2em;
	position: absolute;}

.national {
	color: #383838; font-family: BEBAS, sans-serif; font-size: 1.8em;
	position: absolute;}

.regional {
	color: #383838; font-family: BEBAS, sans-serif; font-size: 1.6em;
	position: absolute;}

.intermunicipial {
	color: #383838; font-family: BEBAS, sans-serif; font-size: 1.4em;
	position: absolute;}

.local {
	color: #383838; font-family: BEBAS, sans-serif; font-size: 1.2em;
	position: absolute;}

.other {
	color: #383838; font-family: BEBAS, sans-serif; font-size: 1em;
	position: absolute;}

/* SIGN IN */

#signin {
	background-color: rgba(255,255,255,0.7);
	width: 35em; padding: 0.2em;
	position: absolute; top: 10em; left: 33%;}

.flash {
	color: red; font-size: 1.2em;
	padding: 0.2em;}

/* ADD */

#add {
	background-color: rgba(255,255,255,0.7);
	width: 35em; padding: 0.2em;
	position: absolute; top: 6em; left: 1em;}

/* SHOW */

#show {
	background-color: rgba(255,255,255,0.7);
	position: absolute; top: 6em; left: 40em;}

/* NAVIGATION */

#navigation {
	background-color: rgba(255,255,255,0.7);
	padding: 0.2em;
	position: relative; top: 50em;}

#nav {
	text-align: center;
	list-style-type: none;}

#nav li {
	padding: 0 1em; display: inline-block}

a {
	color: black; text-decoration: none;}
